.footer-links {
    margin-bottom: 0.5rem;
  }
  
  .footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 0.8rem;
    font-size: 0.95rem;
  }
  
  .footer-links a:hover {
    color: var(--hover);
  }
  
  .footer-redes {
    margin: 0.5rem 0 1rem;
  }
  
  .icone-social {
    width: 28px;
    height: 28px;
    margin: 0 10px;
    filter: invert(1); /* deixa branco no fundo escuro */
    transition: filter 0.3s;
  }
  
  .footer-redes a:hover .icone-social {
    filter: invert(60%) sepia(100%) saturate(500%) hue-rotate(330deg);
  }
  
  .footer-copy {
    font-size: 0.9rem;
    color: #ddd;
  }
  